---
title: DoubleTroublePy contact
subhead: contact
permalink: /contact/index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %} 
  <p>feel free to contact me for tips, requests for data, collaboration, ideas, questions, etc. via email at <a href="mailto:doubletroublepy@gmail.com"><code>doubletroublepy@gmail.com</code></a> or via signal at <a href="https://signal.me/#eu/WSV-Jxsvmk9DwU04r8zqiH4IfHRHWqniOwPR55H4P2d-KST3VZ1D_6LG3rOi0lIb">@dtpy.161</a> (please only use signal for serious inquiries).</p>
{% endblock %}
