---
permalink: /index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %} 
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <div style="flex-grow: 1; flex-shrink: 1; flex-basis: 30%; min-width: 200px; max-width: 70%; padding: 4px;">
    <img src="/img/dtpy.gif" alt="my propic">
  </div>
  <div style="flex-grow: 2; flex-shrink: 2; flex-basis: 60%;">
    <p>
        Helo! I'm {{ site.name }} <sup>({{ site.pronouns }})</sup>, welcome to my website! this site is primarly a <a href="/posts">blog</a>, about engineering, programming, and
        anything else that rise my interest. I'm a bit caotic so dont expect a lot of coerent or finished thing, also a regular schedule is very improbable. 
    </p>
    <p>
        My main language is not English, so I'm sorry for any errors, if you spot any don't by shy to send me a mail.
        Tanks for your attention and I wish you a good reading. :3
    </p>
    <p>
        This website anonymously (without cookies) collects basic analytics on a instance of <a rel="noreferrer" target="_blank" href="https://umami.is">umami</a>,
        in the interest of transparency the collected data is publicly viewable <a rel="noreferrer" target="_blank" href="https://cloud.umami.is/share/Y2t7zlxgPGlNZG32/doubletroublepy.github.io">here</a>.
    </p>    
  </div>
</div>
{% endblock %}
